# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment Variables
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AI Studio Specific
firebase-applet-config.json

# Local Netlify folder
.netlify
